*{
    margin: 0;
    padding:o;
    box-sizing:border-box;

}
body{
    font-family: sans-serif;
    background: rgb(201,97,74);
    background: linear-gradient(260deg, rgb(5, 2, 10) 0%, rgba(28, 30, 44, 0.844) 42%, rgb(15, 15, 14) 100%); 
}
i,svg{
    pointer-events: none;
}
.sekvencer{
 display:flex;
 min-height:100vh;
 flex-direction:column;
 align-items:center;
 justify-content:center;

}
h1{
    color:rgb(207, 207, 207);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    
}
.kick-pad,
.snare-pad,
.hihat-pad{
    width: 5rem;
    height: 5rem;
    margin:1rem 0.7rem;
    cursor:pointer;

    
}
.kick-pad{
    background-color:rgb(143, 252, 148) ;
}
.kick-pad.active,.kick-pad:hover{
    background-color:rgb(57, 139, 61) ;

}
.snare-pad{
    background-color:rgb(85, 82, 255) ;

}
.snare-pad.active,.snare-pad:hover{
    background-color:rgb(40, 38, 141) ;

}
.hihat-pad{
    background-color:rgb(245, 86, 86) ;
}
.hihat-pad.active,.hihat-pad:hover{
    background-color:rgb(138, 41, 41) ;

}
.pad{
    transition: all 0.3s ease;
}

.kick,
.snare,
.hihat{
    display: flex;
}
.kick-track,
.snare-track,
.hihat-track{
    display:flex;
    align-items: center;
    width:70%;
    justify-content: space-between;
    margin-top:5rem;
}
.kontrole{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex:1;
    margin:0rem 2rem;
}
select{
    display: inline-block;
    padding: 4px 3px 5px 5px;
    width: 150px;
    outline: none;
    color: rgb(172, 172, 172);
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background-color: rgba(57, 60, 75, 0.844);
    font-size: 1rem;
    font-weight: 600;
}
select option{
    color:rgb(207, 207, 207);
    background-color:rgba(38, 41, 61, 0.2);
 }
 
 select option:hover{
    background-color:rgba(94, 97, 112, 0.2);
 }
 .mute{
     width:3rem;
     height:2rem;
     background-color: rgb(43, 43, 54);
     color:white;
     font-size: 1rem;
     border-radius:5px;
     
 }
 .play{
     width:15rem;
     height:3rem;
     border-radius:10px;
     color:white;
     background-color:rgb(52, 52, 58);
     margin-top:3rem;
     font-size:1.5rem;
 }
 .play:hover{
    background-color:rgb(103, 103, 116);

 }
 .play.active{
    background-color:rgb(103, 103, 116);

 }
 @keyframes playTrack{
     from{
        transform:scale(1);
     }
     to{
        transform:scale(1.2);
     }

 }
 .tempo{
     margin:3rem;
     width: 30%;
 }
.tempo-slider{
    padding:0.3rem;
    -webkit-appearance: none;
    margin:1rem 0rem;
    width:100%;
    position:relative;
    background-color:rgb(125, 125, 139);
    border:1px white;
    border-radius: 1rem;
    cursor: pointer;
    

}
.tempo p{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
